<form class="package-configuration">
    <div class="dialog-container">
        {{#each fields}}
            {{#unless (eq @key 'none')}}<div class="form-group group-header">{{@key}}</div>{{/unless}}
            {{#each this}}
                <div class="form-group{{#if (eq type "menu")}} submenu{{/if}}">
                    <label>{{localize name}}</label>
                    <div class="form-fields">
                        {{#switch type}}
                            {{#case 'color'}}
                                <div class="color-picker-container"><input type="text" class="css-var" name="{{@key}}" is="colorpicker-input2" data-responsive-color value="{{value}}" style="background-color: {{value}};"></div>
                                {{#if hasHover}}
                                    <div class="color-picker-container"><input type="text" class="css-var" name="{{@key}}-hover" is="colorpicker-input2" data-responsive-color value="{{value2}}" style="background-color: {{value}};"></div>
                                {{/if}}
                            {{/case}}
                            {{#case 'select'}}
                                <select class="css-var" name="{{@key}}" data-dtype="String">
                                    {{#each choices}}<option value="{{@key}}" {{#if (eq ../value @key)}}selected{{/if}}>{{localize this}}</option>{{/each}}
                                </select>
                            {{/case}}
                            {{#case 'range'}}
                                <input type="range" name="{{@key}}" data-dtype="Number" value="{{value}}" {{#if range.min}}min="{{range.min}}"{{/if}} {{#if range.max}}max="{{range.max}}"{{/if}} {{#if range.step}}step="{{range.step}}"{{/if}}><span class="range-value">{{value}}</span>
                            {{/case}}
                            {{#case 'number'}}
                                <input type="number" class="number css-var" name="{{@key}}" data-dtype="Number" value="{{value}}" {{#if field.min}}min="{{field.min}}"{{/if}} {{#if field.max}}max="{{field.max}}"{{/if}} {{#if field.unit}}data-unit="{{field.unit}}"{{/if}} {{#if field.placeholder}}placeholder="{{field.placeholder}}"{{/if}}>{{#if field.unit}}<label class="input-unit">{{field.unit}}</label>{{/if}}
                            {{/case}}
                            {{#case 'boolean'}}
                                <input type="checkbox" name="{{@key}}" data-dtype="Boolean" {{#if value}}checked{{/if}}>
                            {{/case}}
                            {{#case 'menu'}}
                                <button type="button" data-key="bg3-inspired-hotbar.{{@key}}">
                                    <i class="{{icon}}"></i>
                                    <label>{{localize label}}</label>
                                </button>
                            {{/case}}
                            {{#default}}
                                <input type="text" name="{{@key}}" data-dtype="String" value="{{value}}" {{#if field.placeholder}}placeholder="{{field.placeholder}}"{{/if}}>
                            {{/default}}
                        {{/switch}}
                    </div>
                    {{#if hint}}<p class="notes">{{localize hint}}</p>{{/if}}
                </div>
            {{/each}}
        {{/each}}
    </div>
    <div class="dialog-buttons">
        <button type="submit" class="dialog-button">
            <i class="fas fa-save"></i>
            {{localize "BG3.Settings.ContainerAutoPopulate.Save"}}
        </button>
    </div>
</form>