<form class="package-configuration">
    <div class="dialog-container">
        <div class="form-group group-header">Show/Hide settings</div>
        <div class="form-group" data-setting-id="bg3-inspired-hotbar.hidePortraitImage">
            <label>Show character portrait image</label>
            <div class="form-fields">
                <input type="checkbox" name="bg3-inspired-hotbar.hidePortraitImage" data-dtype="Boolean" {{#if !configData.hidePortraitImage}}checked{{/if}}>
            </div>
            <p class="notes">Also control health overlay and text display.</p>
        </div>
        <div class="form-group" data-setting-id="bg3-inspired-hotbar.showExtraInfo">
            <label>Show extra datas on character portrait.</label>
            <div class="form-fields">
                <input type="checkbox" name="bg3-inspired-hotbar.showExtraInfo" data-dtype="Boolean" checked="">
            </div>
            <p class="notes"></p>
        </div>
        <div class="form-group group-header">Portrait settings</div>
        <div class="form-group" data-setting-id="bg3-inspired-hotbar.defaultPortraitPreferences">
            <label>{{localize "BG3.Settings.DefaultPortraitPreferences.Name"}}</label>
            <div class="form-fields">
                <select name="bg3-inspired-hotbar.defaultPortraitPreferences" data-dtype="String">
                    <option value="token" selected="">{{localize "BG3.Settings.DefaultPortraitPreferences.Token"}}</option>
                    <option value="portrait">{{localize "BG3.Settings.DefaultPortraitPreferences.Portrait"}}</option>
                </select>
            </div>
        
            <p class="notes">{{localize "BG3.Settings.DefaultPortraitPreferences.Hint"}}</p>
        </div>
        <div class="form-group" data-setting-id="bg3-inspired-hotbar.ShapePortraitPreferences">
            <label>{{localize "BG3.Settings.ShapePortraitPreferences.Name"}}</label>
            <div class="form-fields">
                <select name="bg3-inspired-hotbar.shapePortraitPreferences" data-dtype="String">
                    <option value="round" selected="">{{localize "BG3.Settings.ShapePortraitPreferences.Round"}}</option>
                    <option value="square">{{localize "BG3.Settings.ShapePortraitPreferences.Square"}}</option>
                </select>
            </div>
        
            <p class="notes">{{localize "BG3.Settings.ShapePortraitPreferences.Hint"}}</p>
        </div>
        <div class="form-group" data-setting-id="bg3-inspired-hotbar.BorderPortraitPreferences">
            <label>{{localize "BG3.Settings.BorderPortraitPreferences.Name"}}</label>
            <div class="form-fields">
                <select name="bg3-inspired-hotbar.BorderPortraitPreferences" data-dtype="String">
                    <option value="none" selected="">{{localize "BG3.Settings.BorderPortraitPreferences.None"}}</option>
                    <option value="simple">{{localize "BG3.Settings.BorderPortraitPreferences.Simple"}}</option>
                    <option value="styled">{{localize "BG3.Settings.BorderPortraitPreferences.Styled"}}</option>
                </select>
            </div>
        
            <p class="notes">{{localize "BG3.Settings.BorderPortraitPreferences.Hint"}}</p>
        </div>
        <div class="form-group group-header">Other settings</div>
        <div class="form-group" data-setting-id="bg3-inspired-hotbar.showSheetSimpleClick">
            <label>Open character sheet on click</label>
            <div class="form-fields">
                <input type="checkbox" name="bg3-inspired-hotbar.showSheetSimpleClick" data-dtype="Boolean" checked="">
            </div>
        
            <p class="notes">Open the character sheet with a single click on portrait instead of double click.</p>
        </div>
    </div>
    <div class="dialog-buttons">
        <button type="submit" class="dialog-button">
            <i class="fas fa-save"></i>
            {{localize "BG3.Settings.ContainerAutoPopulate.Save"}}
        </button>
    </div>
</form>