<div>
    <i data-tooltip="{{localize "BG3.Hotbar.Ability.Tooltip"}}" data-tooltip-class="no-wrap" class="fas fa-dice-d20"></i>
    {{!-- <div class="ability-card-container">
        <div class="ability-card menu-container">
            <div class="ability-rows-wrapper">
            {{#each abilities}}
                <div class="menu-item ability-row" data-ability="{{@key}}">
                    <div class="ability-score-display" data-tooltip="Click to show ability checks and saving throws">
                        <span class="ability-label{{#if mod.prof}} proficient{{/if}}">{{label}}</span>
                        <span class="ability-value{{#if mod.prof}} proficient{{/if}}">{{mod.value}}</span>
                    </div>
                    <div class="popup-panel saves">
                        <div class="check-row" title="Roll ability check (Alt: Advantage, Ctrl: Disadvantage, Shift: Fast Forward)">
                            <div class="left-group">
                                <i class="fas fa-dice-d20 menu-item-icon"></i>
                                <span class="menu-item-label">Check</span>
                            </div>
                            <span class="menu-item-value">{{mod.value}}</span>
                        </div>
                        <div class="save-row" title="Roll saving throw (Alt: Advantage, Ctrl: Disadvantage, Shift: Fast Forward)">
                            <div class="left-group">
                                <i class="fas fa-dice-d20 menu-item-icon"></i>
                                <span class="menu-item-label">Save</span>
                            </div>
                            <span class="menu-item-value">{{mod.value}}</span>
                        </div>
                    </div>
                    {{#if skills}}
                        <div class="popup-panel skills">
                            {{#each skills}}
                                <div class="menu-item skill-row{{#if prof}} proficient{{/if}}" title="Roll skill check (Alt: Advantage, Ctrl: Disadvantage, Shift: Fast Forward)" >
                                    <div class="left-group">
                                        <i class="fas fa-dice-d20 menu-item-icon"></i>
                                        <span class="menu-item-label">{{label}}</span>
                                    </div>
                                    <span class="menu-item-value">{{value}}</span>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            {{/each}}
            </div>
        </div>
    </div> --}}
</div>