<div>
    {{#if icon}}
        <img src="{{icon}}"{{#if name}} alt="{{name}}"{{/if}} class="hotbar-item{{#if (eq uses.value 0)}} depleted{{/if}}" draggable="false">
        {{#if name}}<div class="hotbar-item-name">{{name}}</div>{{/if}}
        {{#if uses}}
            <div class="hotbar-item-uses{{#if (eq uses.value 0)}} depleted{{/if}}">{{uses.value}}/{{uses.max}}</div>
        {{else}}
            {{#if consume}}
                <div class="hotbar-item-uses{{#if (eq consume.value 0)}} depleted{{/if}}">{{consume.value}}{{#if consume.max}}/{{consume.max}}{{/if}}</div>
            {{/if}}
        {{/if}}
    {{else}}
        <div>{{name}}</div>
    {{/if}}
</div>