<div>
    <div class="portrait-image-container">
        <div class="bg3-portrait-subcontainer">
            <img class="portrait-image" src="{{img}}">
            <div class="health-overlay" style="height: {{health.percent}}%; opacity: {{opacity}}"></div>
        </div>
        <div class="hp-text">
            {{#if (gt health.temp 0)}}<div class="temp-hp-text">+{{health.temp}}</div>{{/if}}
            <div>{{health.current}}/{{health.max}}</div>
        </div>
    </div>
</div>