<div>
    <div class="extra-infos-container">
        {{#each extraInfos}}
            {{#if value}}<div class="extra-info extra-info-{{@index}} {{icon}}" style="--icon-color: {{color}}"><span>{{value}}</span></div>{{/if}}
        {{/each}}
    </div>
    <div class="portrait-image-container">
        <div class="portrait-image-subcontainer">
            <img class="portrait-image" src="{{img}}">
            {{!-- <img class="portrait-image" src="{{img}}" style="scale: {{scale}}"> --}}
            <div class="health-overlay">
                <div class="damage-overlay" style="height: {{health.damage}}%; opacity: {{opacity}}"></div>
            </div>
        </div>
    </div>
    {{!-- <div class="ability-button">
        <i class="fas fa-dice-d20"></i>
    </div> --}}
</div>