<section class="content overrided-tooltip">
    <section class="header">
        <div class="top">
            <img src="{{ img }}" alt="{{ name }}">
            <div class="name name-stacked">
                <span class="title">{{ name }}</span>
                <span class="subtitle">{{{ subtitle }}}</span>
            </div>
        </div>
    </section>
    {{#if controlHints}}
    <div class="control-hint lock-hint">
        <img src="systems/dnd5e/icons/svg/mouse-middle.svg" alt="{{ localize "DND5E.Controls.MiddleClick" }}">
        <span>{{ localize "DND5E.Controls.LockHint" }}</span>
    </div>
    {{/if}}
</section>
